@font-face {
    font-family: RobotoRegular;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
  }
  @font-face {
    font-family: RobotoThin;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
  }

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: RobotoRegular;
}
h1, h2, h3{
    font-family: RobotoThin;
}

body{
    background: no-repeat center center fixed;
    background-size: cover;
    display: flex;
    font-size: 1.3rem;
    color: white;
}


main{
    flex-grow: 1;
}
.current-city{
    display: flex;
    align-items: center;
}
main>.current-city{
    position: fixed;
    bottom: 100px;
    left: 100px;
    text-shadow: 5px 5px 4px rgb(0, 0, 0);
}

.current-city > * {
    margin: 0 10px;
}

.current-city h1{
    font-size: 4rem;
}
.current-city h2{
    font-size: 2rem;
    margin: 0;
}
.current-city div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


aside{
    width: 30%;
    min-width: 400px;
    backdrop-filter: blur(6px);
    background-color: rgba(0,0,0,0.4);
    overflow-y: auto;
    padding: 100px 1.5rem;
    padding-left: 70px;
}
aside .current-city{
    display: none;
}

form{
    display: flex;
}
form *{
    font-size: 1.25rem;
    line-height: 2rem;
    color:white;
}
input[type=text]{
    flex-grow: 1;
    border:none;
    border-bottom: 1px white solid;
    background-color: transparent;
}
button{
    background: transparent;
    border: none;
}

ul {
    list-style-type: none;
    padding: 10px 1.5rem;
}

li {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}
li:not(:first-child){
    border-top: 1px grey solid;
}


@media (max-width: 1080px) {
    main{
        display: none;
    }
    aside{
        width: 100%;
        max-width: none;
    }
    aside .current-city{
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
}